/* icon svg's were all oriented incorrectly with respect to x-axis */
.icon {
  transform: scaleY(-1);
  fill: rgb(96, 97, 111);
}

.stars .icon {
  fill: rgb(142, 142, 153);
}

.icon svg {
  width: 20px;
  height: 20px;
}

.hotel-basic-info {
  display: flex;
  font-weight: 100;
  margin-top: 1px;
}

.hotel-basic-left {
  margin-top: 7px;
  width: 70%;
  margin-left: 1px;
}

.hotel-name-rating {
  display: flex;
  align-items: baseline;
}

.hotel-name-rating h1 {
  font-size: 3.1rem;
  letter-spacing: 1.6px;
  color: rgb(96, 97, 111);
  margin-right: 11px;
  font-weight: 400;
}

.hotel-map-phone {
  margin-top: 11px;
  display: flex;
  justify-content: flex-start;
  color: rgb(58, 58, 58);
}

.strip {
  display: flex;
  align-items: baseline;
  margin-right: 17px;
  cursor: pointer;
  background: white;
  border: none;
}

.strip h4 {
  color: rgb(100, 97, 111);
}

.icon-mark {
  margin-right: -5px;
}

.hotel-map-phone h4 {
  font-size: 1.5rem;
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 15.4px;
  margin-top: 1px;
}

.phone h4 {
  letter-spacing: 0.5px;
}

.guarantee {
  display: flex;
  align-items: center;
  margin-top: -3px;
}

.guarantee h4 {
  margin-left: 3px;
  margin-top: 4px;
  letter-spacing: 0.5px;
}

.hotel-basic-right {
  width: 30%;
}

.hotel-basic-right h2 {
  margin-top: -8px;
  padding-left: 28px;
  font-size: 6rem;
  font-weight: 400;
  color: rgb(242, 123, 32);
}

.hotel-basic-right h3 {
  margin-top: 6px;
  padding-left: 15%;
  font-size: 1.55rem;
  color: rgb(58, 58, 58);
}

.tab-navigator {
  background: rgb(126, 83, 138);
  color: white;
  margin-top: 42px;
  width: 97%;
  height: 58px;
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.tab-navigator button {
  background: rgb(126, 83, 138);
  border-left: none;
  border-right: none;
  border-top: none;
  opacity: 0.5;
  border-bottom: 4px solid rgb(126, 83, 138);
  color: white;
  font-size: 1.75rem;
  height: 100%;
}

.tab-navigator button:hover {
  opacity: 1;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(126, 83, 138);
  height: 100%;
}

.tab:hover {
  cursor: pointer;
  border-bottom: 4px solid rgb(217, 183, 223);
}

.tab.active {
  border-bottom: 4px solid rgb(104, 42, 117);
  opacity: 1;
} 

.description {
  width: 38%;
}

.details {
  width: 29%;
}

.location {
  width: 33%;
}

.hotel-text-info {
  margin-top: 20px;
  width: 92%;
  margin-left: 2.5%;
}

.first {
  width: 95%;
}

.hotel-text-info p {
  font-size: 1.56rem;
  font-weight: 100;
  margin-bottom: 27px;
  line-height: 1.4;
  letter-spacing: 0.03px;
  color: rgb(35, 35, 35);
}

.description-text {
  height: 200px;
  overflow: hidden;
}

.description-text-expanded {
  height: auto;
}

.details-text {
  height: 200px;
  overflow: hidden;
}

.details-text-expanded {
  height: auto;
  margin-top: 27px;
}

.toggle-description, .toggle-details {
  display: flex;
  align-items: center;
  font-size: 1.63rem;
  font-weight: 100;
}

.toggle-description {
  margin-top: 13px;
}

.toggle-description .icon, .toggle-details .icon {
  background: rgb(104, 42, 117);
  padding: 1px;
  border-radius: 50%;
  fill: white;
}

.show-hide {
  border: none;
  font-size: 1.72rem;
  margin-left: -6px;
  color: rgb(126, 84, 152);
  font-weight: 100;
  cursor: pointer;
  padding-right: 3px;
  padding-left: 5px;
  background: white;
}

.show-hide:hover {
  text-decoration: underline;
}

.hotel-detail {
  margin-top: 7px;
}

.detail-title {
  font-weight: bolder;
  font-size: 1.56rem;
  margin-bottom: 4px;
}

.detail-value {
  width: 95%;
  font-size: 1.3rem;
}

.location-info {
  display: flex;
  align-items: baseline;
  margin-left: 4px;
}

.location-info .icon {
  fill: black;
}

.location-info h3 {
  font-size: 1.86rem;
  font-weight: 100;
}

.map {
  margin-top: 10px;
  margin-left: -5px;
}

