.App {
  width: 97%;
  margin: 20px auto;
  display: flex;
  /* justify-content: space-between; */
}

.left-section {
  width: 25%;
}

.right-section {
  width: 70%;
  margin-left: 2.9%;
  margin-top: 40px;
}